svg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
}

#firstCard {
  background-image: url("../next/images/patternpad.svg") !important;
  background-repeat: no-repeat;
  background-size: 19% 100%;
  background-position-x: right;
  background-position-y: bottom;
  opacity: 90%;
}

.logo {
  opacity: 1;
}

.logo:hover {
  opacity: 0.3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.logoImages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImages img {
  width: 150px;
}

.cardFooter a {
  text-decoration: none;
}

.cardFooter img {
  width: 60px;
}

.cardFooter > a:nth-child(1) {
  margin-left: 20px;
}

.cardFooter > a:nth-child(2) {
  margin-left: 50px;
}

#appsCards {
  opacity: 85%;
}

/* tablet */

@media only screen and (max-width: 1339px) {
  #cardText > h1 {
    margin-right: 50px;
  }

  h2 {
    font-size: 25px;
  }
}

/* Mobile */

@media only screen and (max-width: 600px) {
  #headerIcons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #cardText > p {
    margin-right: 50px;
  }

  .cardFooter {
    display: flex;
    justify-content: space-evenly;
  }

  h2 {
    text-align: center;
  }

  .logo {
    margin-left: 0px !important;
  }
}
