.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.card-body {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.card-text {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border: solid #5a5a5a;
    border-radius: 5px;
    padding: 10px;
}

.desc {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5a5a5a;

}

.return {
    color: black;
    text-decoration: none;
    border: solid black;
    border-radius: 10px;
    padding: 10px;

}

.return:hover {
    background-color: rgba(0, 0, 0, 0.11);
}

.logo {
    opacity: 1;
}

.logo:hover {
    opacity: 0.3;
}

.navButtons {
    display: flex;
    flex-direction: row;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

[class^="img-screen"] {
    transition: transform .7s;
}

.today{
    color: #b13b44;
}

.tomorrow{
    color: #c9742e;
}

.week{
    color: #15721e;
}

.month{
    color: #1631be;
}


.options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

.mainText{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    z-index: 3;
}

.footContainer{
    display: flex;
    margin-right: 100px;
}

.footContainer img{
    width:  3%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

body{
    z-index: 1;
}
 